Thank you, <%= @application.user.name.capitalize %> for requesting an api key.  This secret is shared between you and FileDrop, and is unique to your API key. Please keep your URL signing secret secure. Do not pass it any requests, store it on any websites, or post it to any public forum. Anyone obtaining this URL signing secret could spoof requests using your identity.</br>
</br>
<h4><%= @application.name %>: <%= @application.api_key %></h4>
