
<div class="row">
	<div class="container">
		<h1>Upload a file</h1>
		<%= form_for([@folders, @document], url: user_documents_path, enctype: 'multipart/form-data') do |f| %>
			<form>
			  <div class="form-group">
					<label for="exampleInputFile">File input</label>
					<%= f.collection_select(:parent, @folders, :id, :name, prompt: false, class: 'custom-select') %>
			  </div>
			  <div class="form-group">
					<%= f.file_field :file, class:'custom-file custom-file-input custom-file-control', type: 'file', id: 'file' %>
				</div>
				<%= f.submit 'Upload File', class: 'btn btn-default' %>
			</form>
		<% end %>
	</div>
</div>
