<h1>Upload a file</h1>

<%= form_for([@folders, @document], url: user_documents_path, enctype: 'multipart/form-data') do |f| %>
	<%= select_tag "document[parent]", options_from_collection_for_select(@folders, "id", "name"), prompt: false %>
	<%= f.file_field :file  %>
	<%= f.submit 'Upload File' %>
<% end %>
